* {
  box-sizing: border-box;
}

.proto {
  border: 1px solid red;
}

html {
  margin: 0;
  height: 100svh;
}

body {
  margin: 0;
  display: grid;
  height: 100%;
  grid-template-rows: 180px 1fr;
  grid-template-columns: minmax(200px, 2fr) 9fr;
  grid-template-areas:  "sidebar header"
                        "sidebar main";
}

header {
  background-color: #adf7b6;
  grid-area: header;
  display: grid;
  align-items: center;
  padding: 0 2rem;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
}

.nav-profile {
  display: grid;
  grid-template-columns: auto 1fr;
}

.head-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
}

.head-profile {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:  "icon greeting"
                        "icon username";
  column-gap: 1rem;
  row-gap: 4px;
}

.head-profile-icon {
  grid-area: icon;
}

.head-profile-username {
  grid-area: username;
}

.head-profile-greeting{
  grid-area: greeting;
}

.head-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}


main {
  background-color: #ffee93;
  grid-area: main;
}

aside {
  grid-area: sidebar;
  background-color: #b8e0d2;
  display: grid;
  align-content: start;
  gap: 64px;
}

.logo-container {
  background-color: #809bce;
  width: 100%;
  height: 70px;
}

.sidebar-options {
  font-size: 24px;
  background-color: #ff8fabaa;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-options > li {
  padding: 8px;
}
