@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
  --color-0: #bfdbfe;
  --color-1: #93c5fd;
  --color-2: #60a5fabb;
  --color-3: #3b82f6;
  --color-4: #2563eb;
  --color-5: #1d4ed8;
  --color-6: #1e40af;
  --color-7: #1e3a8a;
  --color-8: #172554;
}
* {
  box-sizing: border-box; !important
}

h2, div, button, li {
  font-family: 'Montserrat', sans-serif; !important
}

.proto {
  border: 1px solid red;
}

html {
  margin: 0;
  height: 100svh;
}

body {
  background-color: var(--color-1);
  margin: 0;
  display: grid;
  height: 100svh;
  grid-template-rows: 140px 1fr;
  grid-template-columns: minmax(200px, 2fr) 9fr;
  grid-template-areas:  "sidebar header"
                        "sidebar main";
}

header {
  grid-area: header;
  display: grid;
  align-items: center;
  padding: 0 2rem;
}

.nav-notification{
  height: 28px;
  width: 28px;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
}

.nav-search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.nav-search > input {
  border: none;
  border-radius: 8px;
  height: 35px;
  padding: 0 16px;
  font-weight: 600;
  background-color: var(--color-0);
}

.icon-search {
  width: 28px;
  height: 28px;
}

.nav-profile {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.head-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
}

.head-profile {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:  "icon greeting"
                        "icon username";
  column-gap: 1rem;
  row-gap: 4px;
}

.head-profile-icon {
  grid-area: icon;
}

.head-profile-username {
  grid-area: username;
  font-weight: 600;
}

.head-profile-greeting{
  grid-area: greeting;
  font-weight: 500;
}

.head-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}

.head-buttons > button {
  color: white;
  background-color: var(--color-3);
  padding: .7rem 1.2rem;
  border-radius: 9px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}


main {
  overflow-y: scroll;
  overflow-x: hidden;
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10px 1fr 10px 1fr;
  grid-template-areas:  "projects-title announcements-title"
                        "projects announcements"
                        "projects trending-title"
                        "projects trending";
  padding: 1.5rem;
  gap: 2rem;
  align-items: start;
  background-color: white;
}


.projects-title {
  grid-area: projects-title;
}

.icon-card{
  width: 23px;
}

.announcements-title {
  grid-area: announcements-title;
}

.trending-title{
  grid-area: trending-title;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.main-section {
  background-color: #dbeafe88;
  border-radius: 10px;
}

.main-section.projects{
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  gap: 2rem;
}

.project-card {
  padding: 1.5rem;
  padding-left: 2rem;
  display: grid;
  gap: 1rem;
}

.project-card-title {
  font-weight: 600;
}

.project-card-buttons{
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.main-section.announcements{
  grid-area: announcements;
  display: grid;
  gap: 2.3rem;
  padding: 1.5rem 1rem;
}

.announcement-card-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 12px;
}

.announcement-card-content {
  font-size: .9rem;
}


.main-section.trending {
  grid-area: trending;
  display: grid;
  gap: 2rem;
  padding: 1.5rem 0;
}

.trending-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "profile username" "profile quot";
  align-items: center;
  column-gap: 0.7rem;
  row-gap: 0.3rem;
  padding: 0 16px;
  align-content: center;
}


.trending-card-profile {
  grid-area: profile;
  align-self: center;
  height: 100%;
  display: grid;
  align-items: center;
  justify-self: center;
}

.trending-card-username {
  grid-area: username;
  font-weight: 600;
}

.trending-card-quot {
  grid-area: quot;
  color: #555;
}

aside {
  grid-area: sidebar;
  display: grid;
  align-content: start;
  align-items: start;
  justify-content: center;
  background-color: var(--color-2);
}

.logo-container {
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-top: 16px;
}

.logo-icon{
  height: 50px;
  width: 50px;
}

h1{
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.sidebar-options {
  font-size: 1rem;
  padding: 8px 8px 8px 16px;
  display: grid;
}

.sidebar-options > li {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 10px;
  font-weight: 500;
}

.sidebar-options.social {
  margin-bottom: 64px;
  margin-top: 32px;
}

.sidebar-options > li > img {
  width: 1.9rem;
  height: 1.9rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-options > li {
  padding: 8px;
}



.user-profile {
  width: 52px;
  border-radius: 50%;
}

.nav-notification{
  align-self: center;
}

.nav-profile-username {
  align-self: center;
  font-weight: 500;
}

.user-profile.u-nav {
  width: 40px;
  border-radius:50%;
}
